* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.weather-card {
    background: white;
    padding: 35px;
    border-radius: 20px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.2);

    text-align: center;
}

h1 {
    margin-bottom: 5px;
    color: #222;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.search-box input {
    flex: 1;

    padding: 13px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
}

.search-box button {
    padding: 13px 20px;

    border: none;
    border-radius: 8px;

    background: #007bff;
    color: white;

    font-size: 16px;

    cursor: pointer;
}

.search-box button:hover {
    background: #0056b3;
}

.loading {
    padding: 15px;

    color: #007bff;
    font-weight: bold;
}

.error {
    padding: 15px;

    background: #ffe5e5;
    color: #d00000;

    border-radius: 8px;

    margin-top: 10px;
}

.weather-result {
    margin-top: 25px;
}

.weather-result h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 55px;
    font-weight: bold;
    color: #007bff;

    margin: 15px 0;
}

#description {
    font-size: 20px;
    color: #555;
    text-transform: capitalize;
}

.details {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 10px;

    margin-top: 25px;
}

.details div {
    background: #f4f6f8;

    padding: 15px;

    border-radius: 10px;
}

.details strong {
    display: block;

    margin-bottom: 8px;

    color: #555;
}

.details span {
    font-size: 18px;
    font-weight: bold;
}

.hidden {
    display: none;
}

@media (max-width: 500px) {

    .search-box {
        flex-direction: column;
    }

    .details {
        grid-template-columns: 1fr;
    }

    .weather-card {
        padding: 25px;
    }
}